# Jekyll configuration
markdown: kramdown
highlighter: rouge
paginate: 100 # it will paginate after this number
language: 'es-es'

# Launch to test: bundle exec jekyll serve -d _site

# Website info
title: No Country for Geeks
description:
cover: assets/images/blog/bg.jpg
logo: assets/images/blog/logo.png
logo_dark: assets/images/blog/logo.png
favicon: assets/images/blog/favicon.ico
production_url: http://nocountryforgeeks.com/
source_url: https://github.com/NoCountryForGeeks/nocountryforgeeks.github.io

# Social info
navigation: True # show the navbar links
subscribers: False # you need to connect an external service for this to work,
# if 'True' the submit button is disabled for now, but you can change that
# by editing `_includes/subscribe-form.html`
twitter: nocountry4geeks # replace by your username

# Disqus
disqus: True
disqus_shortname: nocountry4geeks # replace with your disqus username

# Google Analytics
google_analytics: UA-103022045-1 # replace with your GA tracking identifier

# edit baseurl to simply '/' if using as your personal page (instead of a project page)
baseurl: /
root: /

# Permalinks
permalink: /:title
# permalink: /author/:author
# permalink: /tag/:tag

# Authors' info in `_data/authors.yml`
# Tags' info in `_data/tags_info.yml`

# gems and other configs
plugins: [jekyll-paginate, jekyll-feed]

feed:
  path: feed.xml

# Additional settings available on the front-matter
# Site logo in the index.html (as in demo.ghost.io)
# Author's page cover in _layouts/author.html
# The same for page.html and tag.html layouts
# Post's page cover as a per-post basis _posts/...
# Disqus comments as a per-post basis
# ...

# Settings for builing master branch with travis-ci
# with jekyll-travis

# Settings for deploy rake task
# Username and repo of Github repo, e.g.
# https://github.com/USERNAME/REPO.git
# username defaults to ENV['GIT_NAME'] used by Travis
# repo defaults to USERNAME.github.io
# Branch defaults to "source" for USERNAME.github.io
# or "master" otherwise
safe: False
lsi: False
username: nocountryforgeeks
repo: nocountryforgeeks.github.io
branch: master
relative_source: ../NoCountryForGeeks/
destination: ../nocountryforgeeks.github.io/
production_url:  http://nocountryforgeeks.com/
source_url:  https://github.com/NoCountryForGeeks/nocountryforgeeks.github.io


exclude:
  - assets/css
  - node_modules
  - vendor
  - .travis.yml
  - Gemfile
  - Gemfile.lock
  - GHOST.txt
  - gulpfile.js
  - LICENSE
  - package.json
  - Rakefile
  - README.md
  - script.py
  - changelog.md
  - "*.Rmd"
  - .git*
