<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.root}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="https://github.com/NoCountryForGeeks/External-Resources">Recursos externos</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.root}}tag/javascript">JavaScript</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.root}}tag/csharp">C#</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.root}}tag/micropost">Microposts</a></li>
</ul>
